body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 3.5rem;
  padding-top: 3.5rem;
}

h1,
h3,
h4 {
  font-weight: 500;
}

.title {
  height: 4rem;
  width: 100%;
  background-color: #C70000;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.back {
  position: absolute;
  top: 0;
  right: 0;
  width: 3%;
  margin: 20px 20px 0 0;
  z-index: 20;
}

hr {
  border-top: 1px solid #727273;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.align-center {
  text-align: center;
  color: #858585;
}

h4.align-center {
  font-size: 1.2rem;
  margin-top: 3rem;
  height: 50px;
  margin-bottom: -40px;
}

#doughnut-chart-01,
#doughnut-chart-02,
#doughnut-chart-03,
#doughnut-chart-04,
#doughnut-chart-05,
#doughnut-chart-06 {
  height: 180px;
  width: 100%;
}

#users-doughnut-chart,
#users-spline-chart {
  height: 280px;
  margin-top: 2rem;
  width: 100%;
}

#users-countries-bar-chart {
  height: 360px;
  margin-top: 2rem;
  width: 100%;
}

h1 span {
  font-size: 1.5rem;
}

.footer {
  height: 2rem;
  width: 100%;
  background-color: black;
  margin-top: -41px;
}
