html body {
    background-color: #111d29;
    color: #b1d237 !important;
}

html body a {
    color: #b1d237 !important;
}

#SIvCob {
    color: #fff !important;
}

#SIvCob a {
    color: #b1d237 !important;
}

#slim_appbar {
    background-color: #111d29 !important;
}

.iUh30, .GmE3X, .fc9yUc, .tNxQIb, .ynAwRc, .OSrXXb, .e4xoPb, h2, h3, svg, .z1asCe, .N9Xkfe, .N9Xkfe a:link {
    color: #b1d237 !important;
}

.tRnLkd, .tRnLkd a:link {
    color: #b1d237 !important;
}

.OY7BIe, .OY7BIe a:visited {
    color: #FBCB0A !important;
}

.rQEFy, .hdtb-mitem, .hdtb-msel, cite:hover, .CEMjEf.NUnG9d, cite a:visited {
    color: #FBCB0A !important;
}

cite, cite a:link, .y355M, .YsGUOb {
    color: #b1d237 !important;
}

.YyVfkd {
    color: whitesmoke !important;
}

.gb_7d {
    background: #1a73e8;
    border: 1px solid transparent;
}

.gb_7d, .Ww4FFb, .di3YZe, .V3FYCf {
    background-color: #111d29 !important;
}
